/*Estils web*/

body{
	background-color:#DDD;
	font-family:arial;
	line-height: 35px;
}
figure{
	display:flex;
	justify-content: center;
	align-items:center;
	width:450px;
	height:450px;
	background:repeating-radial-gradient(circle at center,#9AD8D2 0 5%,#FFC248 5% 10%);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:60%;
}

#contenidor{
	background-color:#FFF;
	background:linear-gradient(to right, #DDA5D9, #FFF8A2);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	}
#cap{
	width:80%;
	background:linear-gradient(#DDA5D9,#FFF8A2);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#caixaFlex{
	margin:10px auto;
	width: 60%;
	display:flex;
	flex-direction: row;
}
#principal{
	width:80%;
	background:linear-gradient(#FFF8A2,#DDA5D9,#FFF8A2);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#peu{
	width:80%;
	background:linear-gradient(#FFF8A2,#DDA5D9);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
		border-radius:20px;

	}
#caixaFlex h1{
	width:80%;
	background-color:#FFF8A2;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#caixaFlex img:first-child{
	transform: scaleX(-1);
}
#principal h2{
	width:60%;
	background-color:#8F8;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
}
#principal h3{
	width:50%;
	background-color:#C0DCFF;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu h3{
	width:50%;
	background-color:#C0DCFF;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu p{
	width:70%;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
	font-weight:bold;
	background:repeating-linear-gradient(45deg,#FFF8A2 0 10%,#DDA5D9 10% 20%);
}

.imatge{
	width:200px;
	vertical-align:middle;
	margin:auto auto;
	border-radius:100px;
}

.logo{
	width:100px;
}
