/*Estils web*/

body{
	background-color:#DDD;
	font-family:arial;
	line-height: 35px;
}
figure{
	display:flex;
	justify-content: center;
	align-items:center;
	width:450px;
	height:450px;
	background:repeating-radial-gradient(circle at center,#960039 0 5%,#070605 5% 10%);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:60%;
}

#contenidor{
	background-color:#FFF;
	background:linear-gradient(to right, #5c5c5c, #3f3f3f);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	}
#cap{
	width:80%;
	background:linear-gradient(#7f9600,#ff006a);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#caixaFlex{
	margin:10px auto;
	width: 60%;
	display:flex;
	flex-direction: row;
}
#principal{
	width:80%;
	background:linear-gradient(#41416e,#30022d,#000000);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#peu{
	width:80%;
	background:linear-gradient(#000000,#ffffff);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
		border-radius:20px;

	}
#caixaFlex h1{
	width:80%;
	background-color:#FFF8A2;
	color:rgb(68, 141, 86);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#caixaFlex img:first-child{
	transform: scaleX(-1);
}
#principal h2{
	width:60%;
	background-color:#8F8;
	color:rgb(0, 0, 0);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
}
#principal h3{
	width:50%;
	background-color:#4d4d4d;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu h3{
	width:50%;
	background-color:#C0DCFF;
	color:rgb(255, 255, 255);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu p{
	width:70%;
	color:rgb(255, 255, 255);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
	font-weight:bold;
	background:repeating-linear-gradient(45deg,#122525 0 10%,#340086 10% 20%);
}

.imatge{
	width:200px;
	vertical-align:middle;
	margin:auto auto;
	border-radius:100px;
}

.logo{
	width:100px;
}
