/*Estils web*/

body{
	background-color:#b2f6ff;
	font-family:arial;
	line-height: 35px;
}
figure{
	display:flex;
	justify-content: center;
	align-items:center;
	width:450px;
	height:450px;
	background:repeating-radial-gradient(circle at center,#9AD8D2 0 5%,#48ff66 5% 10%);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:60%;
}

#contenidor{
	background-color:#91ebff;
	background:linear-gradient(to right, #a5d3dd, #ffa2a2);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	}
#cap{
	width:80%;
	background:linear-gradient(#aedda5,#ffa2a2);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#caixaFlex{
	margin:10px auto;
	width: 60%;
	display:flex;
	flex-direction: row;
}
#principal{
	width:80%;
	background:linear-gradient(#a2ffbb,#dda5a5,#a2ffbb);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
	border-radius:20px;
	margin-bottom:5px;
	}
#peu{
	width:80%;
	background:linear-gradient(#FFF8A2,#DDA5D9);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
		border-radius:20px;

	}
#caixaFlex h1{
	width:80%;
	background-color:#FFF8A2;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#caixaFlex img:first-child{
	transform: scaleX(-1);
}
#principal h2{
	width:60%;
	background-color:rgb(136, 237, 255);
	color:rgb(120, 0, 0);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
}
#principal h3{
	width:50%;
	background-color:#c0ffd6;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu h3{
	width:50%;
	background-color:#c0fff0;
	color:red;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
	border:solid black 1px;
}
#peu p{
	width:70%;
	color:rgb(0, 0, 0);
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:5px;
	border:solid black 1px;
	font-weight:bold;
	background:repeating-linear-gradient(45deg,#a2f9ff 0 10%,#a7dda5 10% 20%);
}

.imatge{
	width:200px;
	vertical-align:middle;
	margin:auto auto;
	border-radius:100px;
}

.logo{
	width:100px;
}
